<!--The content below is only a placeholder and can be replaced.-->
<div class="app-nav-route">
  <div class="nav">
    <nav class="Nav_menu">
      <ul>
        <div class="link">
          <a routerLink="/">Home</a>
          <a routerLink="/contact">Contacts</a>
          <a routerLink="/statistic">Statistic</a>
          <a routerLink="/signup">Signup</a>
          <a routerLink="/user/Guset">User</a>
        </div>
      </ul>
    </nav>
  </div>

  <div class="route">
    <router-outlet></router-outlet>
  </div>
</div>